<div class="container mx-auto px-4">
  <h1 class="text-2xl font-bold text-brand-color mb-6">Zendeet!</h1>

  <%= render 'posts/filter'%>

  <!-- Posts Container -->
  <div class="max-w-7xl mx-auto mt-10 overflow-y-auto relative">
    <!-- Sticky Filter Bar -->

    <div class=" hidden text-center text-gray-500 md:block">
      <% if user_signed_in? %>
        <small>
        Don't see a post that fits? Create
         <%= link_to "New Post", new_post_path, class: "text-xs text-brand-color font-medium hover:underline" %>
        </small>
      <% end %>
    </div>
    <!-- Posts List -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:mt-12">
      <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>
      <% end %>
    </div>

    <!-- Sign In Prompt (if not signed in) -->
    <% unless user_signed_in? %>
      <div class="mt-6 text-center text-sm text-gray-600 pb-6">
        Please <%= link_to "sign in", new_user_session_path, class: "text-brand-color hover:underline" %> or <%= link_to "sign up", new_user_registration_path, class: "text-brand-color hover:underline" %> to create a post.
      </div>
    <% end %>
  </div>

  <div class=" text-center text-gray-500 mt-5">
    <% if user_signed_in? %>
      <small>
        Don't see a post that fits? Create
        <%= link_to "New Post", new_post_path, class: "text-xs text-brand-color font-medium hover:underline" %>
      </small>
    <% end %>
  </div>

  <!-- Pagination (Outside Scrollable Container) -->
  <%= render 'shared/pagination', resource: @posts %>
</div>