<%= form_for(@user, as: :user, url: registration_path(@user), html: { method: :put, class: "space-y-6"  }) do |f| %>

  <%= render "devise/shared/error_messages", resource: @user %>
  <%= hidden_field_tag :update_type, 'password' %>
  <div class="field">
    <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
    <small><i>(enter new password)</i><br /></small>
    <%= f.password_field :password, autocomplete: "new-password", class: "input-class" %>
    <% if @minimum_password_length %>
      <small><em><%= @minimum_password_length %> characters minimum</em></small>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-class" %>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "block text-sm font-medium text-gray-700" %>
    <small><i>(we need your current password to confirm your changes)</i></small>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input-class" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "brand-btn-primary w-full"%>
  </div>

<%end %>