<div class="bg-white shadow-md rounded-xl p-6 hover:shadow-lg transition-all duration-300 border border-gray-100"
     data-request-id="<%= request.id %>"
     data-post-type="<%= request.post.post_type %>"
     data-post-origin="<%= request.post.origin %>"
     data-post-destination="<%= request.post.destination %>"
     data-post-dates="<%= request.post.date_range || "#{request.post.start_date} - #{request.post.end_date}" %>"
     data-post-description="<%= request.post.description %>"
     data-post-user="<%= request.post.user.full_name %>"
     data-post-user-path="<%= user_path(request.post.user.username) %>">
  <div class="flex justify-between items-center">
    <div class="flex-1">
      <h3 class="text-lg font-semibold text-brand-color <%= 'hover:underline cursor-pointer ' unless post.present? %>" onclick="
        showModal(this.closest('[data-request-id]'))">
        <% if request.requester == current_user %>
          <span class="text-gray-800">You</span>
        <% else %>
          <span class="text-brand-color">@<%= request.requester.username %></span>
        <% end %>
        want to <%= request.post.post_type == 'sender' ? 'deliver' : 'send' %> a parcel
        <span class="text-gray-600">from <%= request.post.origin %> to <%= request.post.destination %></span>
      </h3>
      <% if request.description.present? %>
        <p class="text-sm text-gray-600 mt-2 italic bg-gray-50 p-2 rounded-md">"<%= request.description.truncate(50) %>"</p>
      <% end %>
      <% if request.images.attached? %>
        <div class="mt-4 mb-4 flex space-x-2 overflow-x-auto">
          <% request.images.each do |image| %>
            <%= image_tag image.variant(resize_to_limit: [100, 100]), class: "h-16 w-16 object-cover border-2 border-gray-200 rounded-md cursor-pointer", onclick: "showImageModal('#{url_for(image)}')" %>
          <% end %>
        </div>
      <%end %>
      <div class="flex items-center space-x-4 mt-2 text-sm">
        <p class="text-gray-500">
          <span class="font-medium">Status:</span>
          <span class="inline-flex items-center px-2 py-1 rounded-full text-xs font-semibold <%= request.status == 'accepted' ? 'bg-green-100 text-green-700' : request.status == 'rejected' ? 'bg-red-100 text-red-700' : 'bg-yellow-100 text-yellow-700' %>">
            <%= request.status.capitalize %>
          </span>
        </p>
        <p class="text-gray-500">
          <span class="font-medium">Progress:</span> <%= request.milestone.to_s.humanize.presence || "Not set" %>
        </p>
      </div>
    </div>
  </div>
  <div class=" mt-5  space-x-3">
    <% if request.accepted? && (request.requester == current_user || request.post.user == current_user) %>

      <p class="text-md text-green-600 bg-gray-50 font-medium">
        You may now contact <%=  request.get_contact(current_user)&.full_name %> to discuss further:
        <%= link_to request.get_contact(current_user)&.preferred_contact,
                    "#{request.get_contact(current_user)&.preferred_contact_method == 'email' ? 'mailto:' : 'tel:'}#{request.get_contact(current_user)&.preferred_contact}",
                    class: "underline" %>

      </p>
    <% elsif request.pending? && request.post.user == current_user %>
      <div class=" text-right space-x-2">
        <%= link_to "Accept", accept_request_path(request), data: {turbo_method: 'post', turbo_confirm: "Are you sure you want to accept '#{request.description}'?"}, class: "bg-green-500 text-white px-3 py-1 rounded-full text-sm font-medium hover:bg-green-600 transition-colors duration-200" %>
        <%= link_to "Reject", reject_request_path(request), data: {turbo_method: 'post', turbo_confirm: "Are you sure you want to reject '#{request.description}'?"}, class: "bg-red-500 text-white px-3 py-1 rounded-full text-sm font-medium hover:bg-red-600 transition-colors duration-200" %>
      </div>
    <% end %>
  </div>
  <div class="mt-4 flex justify-between items-center text-xs text-gray-500">
    <% unless post.present? %>
    <button onclick="showModal(this.closest('[data-request-id]'))" class="text-brand-color hover:underline font-medium">View Post Details</button>
    <% end %>
    <p>
      <% if request.requester == @user %>
        Sent by: <span class="font-medium">You</span>
      <% else %>
        Sent by: <span class="underline text-brand-color hover:text-brand-color-dark">@<%= request.requester.username %></span>
      <% end %>
      on <%= request.created_at.strftime("%b %d, %Y") %>
    </p>
  </div>
</div>