<div class="max-w-3xl mx-auto bg-white shadow-2xl p-8 rounded-lg transform transition-all hover:shadow-xl">

  <%= render "shared/flash" %>
  <h2 class="text-lg font-extrabold text-brand-color mb-6"><%= @post.post_type.capitalize %> Post</h2>

  <p class="text-sm text-gray-600"><strong>Origin:</strong> <%= @post.origin %></p>
  <p class="text-sm text-gray-600 mt-2"><strong>Destination:</strong> <%= @post.destination %></p>
  <p class="text-sm text-gray-600 mt-2"><strong>When:</strong> <%= @post.date_range || "#{@post.start_date} - #{@post.end_date}" %></p>
  <% if @post.description.present? %>
    <p class="text-sm text-gray-600 mt-2"><strong>Description:</strong> <%= @post.description %></p>
  <% end %>
  <p class="text-xs text-gray-600 mt-4">Posted by: <%= link_to @post.user.full_name, user_path(@post.user), class: "text-brand-color hover:text-brand-color" %> on <%= @post.created_at.strftime("%B %d, %Y") %></p>

  <% if user_signed_in? && @post.user == current_user %>
    <div class="mt-6 space-x-4">
      <%= link_to "Edit", edit_post_path(@post), class: "text-brand-color hover:text-brand-color" %>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "text-brand-color hover:text-brand-color" %>
    </div>
  <% end %>

  <div class="mt-4 text-center text-xs text-gray-600">
    <%= link_to "Back", posts_path, class: "text-brand-color hover:text-brand-color" %>
  </div>
</div>
