<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zendeet!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>


  </head>
  <body data-turbo="true" class="bg-gradient-to-br from-gray-50 to-gray-200 min-h-screen">
    <nav class="bg-white shadow-lg">

      <%= render 'layouts/partials/navbar' %>
    </nav>
    <main class="container mx-auto max-w-7xl mt-16 px-6 py-8">
      <% if flash[:notice] %>
        <div class="bg-gradient-to-r from-primary to-secondary text-white p-4 rounded-lg shadow-lg mb-6 flex justify-between items-center">
          <p><%= flash[:notice] %></p>
          <button onclick="this.parentElement.style.display='none'" class="text-white hover:text-gray-200">&times;</button>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="bg-gradient-to-r from-primary to-secondary text-white p-4 rounded-lg shadow-lg mb-6 flex justify-between items-center">
          <p><%= flash[:alert] %></p>
          <button onclick="this.parentElement.style.display='none'" class="text-white hover:text-gray-200">&times;</button>
        </div>
      <% end %>
      <% if current_user %>
<!--      <header class="bg-white shadow-sm">-->
<!--        <div class=" max-w-7xl px-4 py-6 sm:px-6 lg:px-8">-->
<!--          <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>-->
<!--        </div>-->
<!--      </header>-->
      <% end %>

      <%= yield %>

    </main>
  </body>
</html>